<div class="card">
    <div style="border-radius: 200px; height: 200px; width: 200px; background: #F8FAF5; margin: 0 auto;">
    <img style="width: 188px;" src="https://th.bing.com/th/id/OIP.xL0UjN4zmgUjg2B_7SQsngHaHa?rs=1&pid=ImgDetMain" alt="">
    </div>
    <h2>Order has Placed Successfully</h2>
    <strong style="margin-left: 32px;">Thank you !!! <br/> For Shopping with popular e-commerce  </strong>
    <h5 style="margin-top: 20px; margin-left: 40px; color: green;">Kindly pay account <strong style="color: blue;">${{totalamount}}</strong>&nbsp;during delivary </h5>
</div>
